@font-face {
    font-family: "Segoe UI";
    src: url("//db.onlinewebfonts.com/t/623c7118249e082fe87a78e08506cb4b.eot");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI";
}
html,
body {
    height: 100%;
    width: 100%;
    user-select: none;
    cursor: default;
    min-height: 355px;
    min-width: 500px;
    background-color: #e6e6e6;
}
header {
    height: 4%;
    display: flex;
    justify-content: space-between;
}
.headerText {
    padding: 8px 0px 8px 10px;
    font-size: 12px;
    font-weight: 500;
}
.headerWin {
    width: 320px;
    display: flex;
    justify-content: flex-end;
}
.headerWin div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 30px;
}
.minimise {
    font-size: 10px;
    padding-bottom: 2px;
}
.minimise:hover {
    background-color: #cfcfcf;
}
.maximise:hover {
    background-color: #cfcfcf;
}
.close {
    font-size: 14px;
}
.close:hover {
    color: white;
    background-color: red;
}
.container {
    width: 100%;
    height: 96%;
    display: grid;
    grid-template-columns: 75% minmax(25%, 320px);
}
.result {
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 250%;
    font-weight: bold;
    padding-right: 5px;
    margin-top: auto;
}
.mline {
    height: 7%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.mline div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
}
.mhover:hover {
    background: #cfcfcf;
}
.mhide {
    display: none !important;
}
.mWhite {
    color: gray;
}
.calculator {
    height: 65%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.25%;
}
.calculator div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
}
.calculator div:hover {
    background: #e6e6e6;
}
.calNumber {
    background: #fafafa;
}
.calOperator {
    background: #f0f0f0;
}
#backspace {
    font-size: large;
}
#divide,
#point {
    font-size: xx-large;
}
#mines {
    font-size: xx-large;
}
.menubar {
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.menubar div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menubar div:hover {
    background: #cfcfcf;
}
.burger {
    padding: 1.5px 5px;
}
.burger img {
    width: 80%;
    height: 80%;
}
.standard {
    padding: 0 5px 0 5px;
    font-size: large;
    font-weight: 500;
}
.history-img {
    display: none;
}
.historyline {
    display: flex;
    margin-top: 15px;
    font-weight: 700;
    font-size: medium;
}
.history {
    border-bottom: coral solid 4px;
    padding: 7px 0 5px 0;
}
.memory {
    margin-left: 5%;
    padding: 7px 0 5px 0;
}
.nohistory {
    margin-top: 25px;
    font-weight: 500;
    font-size: medium;
}
@media only screen and (max-width: 500px) {
    .container {
        display: flex;
    }
    .right {
        display: none;
    }
    .left {
        width: 100%;
    }
    .mline {
        width: 100%;
    }
    .result {
        padding: 0 15px 15px 0;
        font-weight: 650;
    }
    .mline {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .mhide {
        display: grid !important;
    }
    .mhide:hover {
        background: #cfcfcf;
    }
    #power3 {
        display: none;
    }
    .calculator {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);

        grid-template-areas:
            "a b c d"
            "e f g h";
    }
    #percent {
        grid-area: a;
    }
    #square root{
        grid-area: b;
    }
    #power2 {
        grid-area: c;
    }
    #Fraction {
        grid-area: d;
    }
    #CE {
        grid-area: e;
    }
    #C {
        grid-area: f;
    }
    